<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <!-- Render partials here:
        for that we need 2-cirly braces and a greater than sign between these 2-pairs
        after the > sign, add the partials file name without extension.
        Like below:-->
        {{>header}}
        <!--<h1> {{title}} </h1> -->
        <!-- <h1> {{name}} </h1> -->

        <p>{{errorMessage}}</p>
        {{>footer}}
    </body>
</html>