<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div class="main-content">
        <!-- Render partials here:
        for that we need 2-cirly braces and a greater than sign between these 2-pairs
        after the > sign, add the partials file name without extension.
        Like below:-->
        {{>header}}
        <img class="portrait" src="img/khanda.jpg">
        </div>

        {{>footer}}
    </body>
</html>