<!-- contains just a part of the webpage- like header footer or some thing like -->
<h1>{{title}}</h1>
<div>
    <a href="/">Weather </a>
    <a href="/about">About </a>
    <a href="/help">Help </a>
</div>